.field-collection-template-formatter__item {
    background-color: #3FA8DE;
    max-width: 250px;
    display: inline-block;
    margin-right: 20px;
}
.field-collection-template-formatter__top {
    min-height: 50px;
    position: relative;
}
.field-collection-template-formatter__bottom {
    padding: 1rem;
}
.field-collection-template-formatter__item input:after {
    content: '';
    background: #CDC9C9;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
}
.field-collection-template-formatter__item input:checked:after {
    background: #81D135;
}
.field-collection-template-formatter__item label {
    position: absolute;
    top: 50%;
    left: 0;
    right:0;
    bottom: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    z-index: 1;
    pointer-events: none;
    transform: translateY(-50%);
}

